.ToDoListItem {
    display: flex;
    min-width: 500px;
    justify-content: space-between;

}

.done {
    text-decoration: line-through;
}

.important {
    font-size: 20px;
    color: red;
    font-weight: bold;
}